body{
    background-image: url("../images/stranger_things\ wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin:0 auto;
}

.header{
  
text-align: center;
background: rgba(180, 178, 178, 0.5);
    font-family: 'Bigshot One';
    font:bolder;
    font-size: 25px;
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.container{
    margin: 0 auto;
    width:85%;
    height:600px;
    text-align: center;
    
    background: rgba(180, 178, 178, 0.5);
    border: #EE6262;
    border-style: solid;
    
    font-family: 'Bigshot One';
    font:bolder;
    font-size: 25px;
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  }

button{
    margin: 5px;
    font-size: 20px;
    background: linear-gradient(top,  #EE6262,  #73F6FF);
  background: -ms-linear-gradient(top,  #EE6262,  #73F6FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE6262), to(#73F6FF));
  background: -moz-linear-gradient(top,  #EE6262,  #73F6FF);

    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;

}
#questions{
   
    text-align: center;
}

#triviaGame{
text-align: center;
}
#music{
    width:5px;
    height:5px;
}

#choices{
    
    text-align: center;
}

.userChoice{
    cursor: pointer;
    text-align: center;
  
}