body{
    background-color:red;
    margin: 0 auto;
}

.header{
    background-color:white;
    text-align: center;
}
#triviaGame{
    background-color:white;
    
    text-align: center;
}


#choices{
    
    text-align: center;
}

.userChoice{
    cursor: pointer;
}